<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" routerLink='home'>Covid19-Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink='home' routerLinkActive='active'>Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink='countries'>Countries</a>
        
        <a class="nav-item nav-link" routerLink='hotline'>Hotline</a>
        <a class="nav-item nav-link" routerLink='covidTest'>Request For Covid Test</a>
        
      </div>
      
    </div>
    <a class="btn bd-download float-right" routerLink='adminLogin'>Log in as Admin</a>
  </nav>
  
