<div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Admin Login</h2>
                <p>Please enter your email and password</p>
            </div>
            <form id="Login" #loginForm="ngForm" (ngSubmit)="validLogin(loginForm.value)">

                <div class="form-group">


                    <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email Address" ngModel>

                </div>

                <div class="form-group">

                    <input type="password" class="form-control" name="password" id="inputPassword" placeholder="Password" ngModel>

                </div>
                <div class="forgot">
                    <a href="reset.html">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>

            </form>
        </div>
        <p class="botto-text"> Designed by Sunil Rajput</p>
    </div>
</div>
